/* extend css start */
@import url("https://fonts.googleapis.com/css?family=Aclonica|Poppins:300,400,500,600&display=swap");
.btn_1, .live_stareams .live_stareams_slide .live_stareams_slide_img:after, .Latest_War .Latest_War_text:after, .gallery_part .single_gallery_item .single_gallery_item_iner:after, .footer_part .single_footer_part .mail_part .email_icon {
  background-image: -webkit-gradient(linear, right top, left top, from(#ff0000), color-stop(51%, #c6019a), to(#ff0000));
  background-image: -webkit-linear-gradient(right, #ff0000 0%, #c6019a 51%, #ff0000 100%);
  background-image: -o-linear-gradient(right, #ff0000 0%, #c6019a 51%, #ff0000 100%);
  background-image: linear-gradient(to left, #d30000 0%, #c6019a 51%, #d30000 100%);
}

.main_menu .main-menu-item .nav-item a:before {
  background-image: -webkit-gradient(linear, right top, left top, from(#c6019a), to(#ff0000));
  background-image: -webkit-linear-gradient(right, #c6019a 0%, #ff0000 100%);
  background-image: -o-linear-gradient(right, #c6019a 0%, #ff0000 100%);
  background-image: linear-gradient(to left, #c6019a 0%, #ff0000 100%);
}

.cta_part .banner_btn_1:hover, .cta_part .banner_btn_2:hover {
  background-image: -webkit-gradient(linear, right top, left top, from(#57ddff), color-stop(51%, #57ddff), to(#57ddff));
  background-image: -webkit-linear-gradient(right, #57ddff 0%, #57ddff 51%, #57ddff 100%);
  background-image: -o-linear-gradient(right, #57ddff 0%, #57ddff 51%, #57ddff 100%);
  background-image: linear-gradient(to left, #57ddff 0%, #57ddff 51%, #57ddff 100%);
}

.single_page_menu .main-menu-item .nav-item a:before {
  background: -moz-linear-gradient(16deg, #000 0%, #000 100%);
  background: -webkit-linear-gradient(16deg, #000 0%, #000 100%);
  background: -ms-linear-gradient(16deg, #000 0%, #000 100%);
}

/* extend css end */
/* common css start */
body {
  font-family: "Aclonica", sans-serif;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

* { 
  cursor: url('../img/sor.cur'), pointer;
}

.message_submit_form:focus {
  outline: none;
}

input:hover, input:focus {
  outline: none !important;
}

.gray_bg {
  background-color: #f7f7f7;
}

.section_padding {
  padding: 140px 0px;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .section_padding {
    padding: 100px 0px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .section_padding {
    padding: 70px 0px;
  }
}

@media (max-width: 576px) {
  .section_padding {
    padding: 70px 0px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .section_padding {
    padding: 70px 0px;
  }
}

.single_padding_top {
  padding-top: 140px !important;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .single_padding_top {
    padding-top: 70px !important;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .single_padding_top {
    padding-top: 70px !important;
  }
}

@media (max-width: 576px) {
  .single_padding_top {
    padding-top: 70px !important;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .single_padding_top {
    padding-top: 100px !important;
  }
}

.padding_top {
  padding-top: 140px;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .padding_top {
    padding-top: 100px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .padding_top {
    padding-top: 70px;
  }
}

@media (max-width: 576px) {
  .padding_top {
    padding-top: 70px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .padding_top {
    padding-top: 70px;
  }
}

.padding_bottom {
  padding-bottom: 140px;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .padding_bottom {
    padding-bottom: 100px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .padding_bottom {
    padding-bottom: 70px;
  }
}

@media (max-width: 576px) {
  .padding_bottom {
    padding-bottom: 70px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .padding_bottom {
    padding-bottom: 70px;
  }
}

a {
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

a:hover {
  outline: none;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  color: #fff;
  font-family: "Aclonica", sans-serif;
}

p {
  font-family: "Poppins", sans-serif;
  line-height: 29px;
  font-size: 15px;
  margin-bottom: 0px;
  color: #fff;
  font-weight: 300;
}

h2 {
  font-size: 44px;
  line-height: 28px;
  font-weight: 600;
  line-height: 1.222;
}

@media (max-width: 576px) {
  h2 {
    font-size: 22px;
    line-height: 25px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  h2 {
    font-size: 24px;
    line-height: 25px;
  }
}

h3 {
  font-size: 24px;
  line-height: 25px;
}

@media (max-width: 576px) {
  h3 {
    font-size: 20px;
  }
}

h5 {
  font-size: 18px;
  line-height: 22px;
}

img {
  max-width: 100%;
}

a:focus, .button:focus, button:focus, .btn:focus {
  text-decoration: none;
  outline: none;
  box-shadow: none;
  -webkit-transition: 1s;
  transition: 1s;
}

.section_tittle {
  margin-bottom: 80px;
}

@media (max-width: 991px) {
  .section_tittle {
    margin-bottom: 40px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .section_tittle {
    margin-bottom: 50px;
  }
}

.section_tittle h2 {
  font-size: 45px;
  color: #fff;
  line-height: 50px;
  font-weight: 500;
  position: relative;
  margin-bottom: 28px;
}

@media (max-width: 576px) {
  .section_tittle h2 {
    font-size: 25px;
    line-height: 35px;
    margin-bottom: 15px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .section_tittle h2 {
    font-size: 25px;
    line-height: 35px;
    margin-bottom: 15px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .section_tittle h2 {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 15px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .section_tittle h2 {
    font-size: 35px;
    line-height: 40px;
  }
}

.section_tittle p {
  text-transform: capitalize;
  line-height: 30px;
  font-family: "Poppins", sans-serif;
}

@media (max-width: 576px) {
  .section_tittle p {
    margin-bottom: 10px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .section_tittle p {
    margin-bottom: 10px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .section_tittle p {
    margin-bottom: 10px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .section_tittle p {
    margin-bottom: 10px;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.mb_110 {
  margin-bottom: 110px;
}

@media (max-width: 576px) {
  .mb_110 {
    margin-bottom: 220px;
  }
}

.mt_130 {
  margin-top: 130px;
}

@media (max-width: 576px) {
  .mt_130 {
    margin-top: 70px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .mt_130 {
    margin-top: 70px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .mt_130 {
    margin-top: 70px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .mt_130 {
    margin-top: 70px;
  }
}

.mb_130 {
  margin-bottom: 140px;
}

@media (max-width: 991px) {
  .mb_130 {
    margin-bottom: 70px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .mb_130 {
    margin-bottom: 100px;
  }
}

.padding_less_40 {
  margin-bottom: -50px;
}

.z_index {
  z-index: 9 !important;
  position: relative;
}

@media only screen and (min-width: 1200px) and (max-width: 3640px) {
  .container {
    max-width: 1200px;
  }
}

@media (max-width: 1200px) {
  [class*="hero-ani-"] {
    display: none !important;
  }
}

.body_bg {
  background-image: url("../img/body_bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.black .footer_top {
  padding: 65px 0 100px !important;
}

@media (max-width: 991px) {
  .black .footer_top {
    padding: 70px 0;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .black .footer_top {
    padding: 100px 0;
  }
}

.black p {
  color: #888888;
}

.black h2, .black h3, .black h4, .black h5 {
  color: #2f2d4e;
}

.black .copygight_text {
  background-color: #ebebeb !important;
}

/* Main Button Area css */
.submit_btn {
  width: auto;
  display: inline-block;
  background: #fff;
  padding: 0px 50px;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  line-height: 50px;
  border-radius: 5px;
  outline: none !important;
  box-shadow: none !important;
  text-align: center;
  border: 1px solid #edeff2;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.submit_btn:hover {
  background: transparent;
}

.btn_1 {
  display: inline-block;
  padding: 18.5px 40px;
  border-radius: 0;
  font-size: 15px;
  font-family: "Aclonica", sans-serif;
  font-weight: 500;
  color: #fff;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  background-size: 200% auto;
  border: 1px solid transparent;
}

.btn_1:hover {
  color: #fff !important;
  background-position: right center;
}

@media (max-width: 576px) {
  .btn_1 {
    padding: 10px 30px;
    margin-top: 20px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .btn_1 {
    padding: 10px 30px;
    margin-top: 20px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .btn_1 {
    padding: 10px 30px;
    margin-top: 25px;
  }
}

.btn_2 {
  display: inline-block;
  padding: 18.5px 40px;
  border-radius: 0;
  background-color: #fff;
  font-size: 15px;
  font-family: "Aclonica", sans-serif;
  font-weight: 500;
  color: #1a1a1a;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  text-transform: capitalize;
  border: 1px solid #8f9091;
  background-size: 200% auto;
}

.btn_2:hover {
  color: #fff !important;
  border: 1px solid #ff0000;
  background-position: right center;
  background-color: #ff0000;
}

@media (max-width: 576px) {
  .btn_2 {
    padding: 10px 30px;
    margin-top: 20px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .btn_2 {
    padding: 10px 30px;
    margin-top: 20px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .btn_2 {
    padding: 10px 30px;
    margin-top: 25px;
  }
}

.btn_4 {
  color: #ff0000;
  font-size: 15px;
  font-weight: 700;
  margin-top: 53px;
  display: inline-block;
}

@media (max-width: 991px) {
  .btn_4 {
    margin-top: 30px;
  }
}

.btn_4 img {
  width: 20px;
  margin-left: 15px;
}

/* custom button rule start */
.button {
  display: inline-block;
  border: 1px solid transparent;
  font-size: 15px;
  font-weight: 500;
  padding: 12px 54px;
  border-radius: 4px;
  color: #fff;
  border: 1px solid #edeff2;
  text-transform: uppercase;
  background-color: #ff0000;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media (max-width: 767px) {
  .button {
    font-size: 13px;
    padding: 9px 24px;
  }
}

.button:hover {
  color: #fff;
}

.button-link {
  letter-spacing: 0;
  color: #3b1d82;
  border: 0;
  padding: 0;
}

.button-link:hover {
  background: transparent;
  color: #3b1d82;
}

.button-header {
  color: #fff;
  border-color: #edeff2;
}

.button-header:hover {
  background: #b8024c;
  color: #fff;
}

.button-contactForm {
  color: #fff;
  border-color: #edeff2;
  padding: 12px 25px;
}

/* End Main Button Area css */
/* footer part css */
.footer_part .footer_top {
  padding: 140px 0 100px;
}

@media (max-width: 576px) {
  .footer_part .footer_top {
    padding: 70px 0;
  }
}

@media (max-width: 991px) {
  .footer_part .footer_top {
    padding: 70px 0;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .footer_part .footer_top {
    padding: 100px 0;
  }
}

.footer_part img {
  margin-bottom: 35px;
}

@media (max-width: 576px) {
  .footer_part .single_footer_part {
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .footer_part .single_footer_part {
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .footer_part .single_footer_part {
    margin-bottom: 20px;
  }
}

.footer_part .single_footer_part h4 {
  font-size: 20px;
  margin-bottom: 30px;
  font-weight: 500;
}

@media (max-width: 576px) {
  .footer_part .single_footer_part h4 {
    margin-bottom: 15px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .footer_part .single_footer_part h4 {
    margin-bottom: 15px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .footer_part .single_footer_part h4 {
    margin-bottom: 15px;
  }
}

.footer_part .single_footer_part p {
  margin-bottom: 10px;
  color: #bebebe;
}

.footer_part .single_footer_part .list-unstyled li a {
  color: #bebebe;
  margin-bottom: 10px;
  display: inline-block;
  font-family: "Poppins", sans-serif;
}

.footer_part .single_footer_part .list-unstyled li a:hover {
  color: #ff0000 !important;
}

.footer_part .single_footer_part .social_icon {
  float: left;
  margin-top: 38px;
}

@media (max-width: 991px) {
  .footer_part .single_footer_part .social_icon {
    margin-top: 15px;
  }
}

.footer_part .single_footer_part .social_icon li a {
  margin-left: 0;
  margin-right: 25px;
}

.footer_part .single_footer_part .mail_part {
  position: relative;
}

.footer_part .single_footer_part .mail_part input {
  padding: 9px 22px;
  font-size: 13px;
  border-radius: 0;
  margin-top: 20px;
  width: 100%;
  background-color: #f9f9fe;
  border: 1px solid transparent;
}

.footer_part .single_footer_part .mail_part .email_icon {
  position: absolute;
  right: 0px;
  top: 20px;
  height: 39.3px;
  text-align: center;
  color: #fff;
  border-radius: 0;
  line-height: 10px;
  background-size: 200% auto;
}

.footer_part .single_footer_part .mail_part .email_icon i {
  font-size: 15px;
}

.footer_part .single_footer_part .mail_part .button-contactForm {
  padding: 11px;
  border: 2px solid;
  border-image: linear-gradient(to left, #c6019a 0%, #ff0000 100%);
  border-image-slice: 1;
}

.footer_part hr {
  background-color: #cad7dc;
  margin-top: 50px;
  margin-bottom: 25px;
}

.footer_part .footer_icon {
  text-align: right;
}

.footer_part .footer_icon li {
  display: inline-block;
}

.footer_part .footer_icon li a {
  font-size: 14px;
  color: #555555;
  margin-left: 30px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media (max-width: 576px) {
  .footer_part .footer_icon li a {
    margin-left: 0px;
    margin-right: 25px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .footer_part .footer_icon li a {
    margin-left: 0px;
    margin-right: 25px;
  }
}

.footer_part .footer_icon li a :hover {
  color: #d30000;
}

@media (max-width: 576px) {
  .footer_part .footer_icon {
    float: left;
    margin-top: 15px;
  }
}

.footer_part .copyright_text p {
  color: #888;
}

.footer_part .copyright_text span {
  color: #ff0000;
  font-size: 12px;
}

@media (max-width: 991px) {
  .footer_part .copyright_text {
    text-align: center !important;
  }
}

.footer_part .copyright_text p a {
  color: #d30000;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.footer_part .copyright_text p a:hover {
  color: #ff0000;
}

.footer_part .info {
  color: red !important;
}

@media (max-width: 991px) {
  .footer_part .footer_icon {
    text-align: center;
    float: none;
  }
}

.footer_part .copygight_text {
  background-color: #0b111f;
  padding: 30px 0;
}

.sample-text-area {
  background: #fff;
  padding: 100px 0 70px 0;
}

.text-heading {
  margin-bottom: 30px;
  font-size: 24px;
}

b,
sup,
sub,
u,
del {
  color: #ff0000;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2em;
}

.typography h1,
.typography h2,
.typography h3,
.typography h4,
.typography h5,
.typography h6 {
  color: #828bb2;
}

.button-area {
  background: #fff;
}

.button-area .border-top-generic {
  padding: 70px 15px;
  border-top: 1px dotted #eee;
}

.button-group-area .genric-btn {
  margin-right: 10px;
  margin-top: 10px;
}

.button-group-area .genric-btn:last-child {
  margin-right: 0;
}

.genric-btn {
  display: inline-block;
  outline: none;
  line-height: 40px;
  padding: 0 30px;
  font-size: .8em;
  text-align: center;
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.genric-btn:focus {
  outline: none;
}

.genric-btn.e-large {
  padding: 0 40px;
  line-height: 50px;
}

.genric-btn.large {
  line-height: 45px;
}

.genric-btn.medium {
  line-height: 30px;
}

.genric-btn.small {
  line-height: 25px;
}

.genric-btn.radius {
  border-radius: 3px;
}

.genric-btn.circle {
  border-radius: 20px;
}

.genric-btn.arrow {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.genric-btn.arrow span {
  margin-left: 10px;
}

.genric-btn.default {
  color: #415094;
  background: #f9f9ff;
  border: 1px solid transparent;
}

.genric-btn.default:hover {
  border: 1px solid #f9f9ff;
  background: #fff;
}

.genric-btn.default-border {
  border: 1px solid #f9f9ff;
  background: #fff;
}

.genric-btn.default-border:hover {
  color: #415094;
  background: #f9f9ff;
  border: 1px solid transparent;
}

.genric-btn.primary {
  color: #fff;
  background: #ff0000;
  border: 1px solid transparent;
}

.genric-btn.primary:hover {
  color: #ff0000;
  border: 1px solid #ff0000;
  background: #fff;
}

.genric-btn.primary-border {
  color: #ff0000;
  border: 1px solid #ff0000;
  background: #fff;
}

.genric-btn.primary-border:hover {
  color: #fff;
  background: #ff0000;
  border: 1px solid transparent;
}

.genric-btn.success {
  color: #fff;
  background: #4cd3e3;
  border: 1px solid transparent;
}

.genric-btn.success:hover {
  color: #4cd3e3;
  border: 1px solid #4cd3e3;
  background: #fff;
}

.genric-btn.success-border {
  color: #4cd3e3;
  border: 1px solid #4cd3e3;
  background: #fff;
}

.genric-btn.success-border:hover {
  color: #fff;
  background: #4cd3e3;
  border: 1px solid transparent;
}

.genric-btn.info {
  color: #fff;
  background: #38a4ff;
  border: 1px solid transparent;
}

.genric-btn.info:hover {
  color: #38a4ff;
  border: 1px solid #38a4ff;
  background: #fff;
}

.genric-btn.info-border {
  color: #38a4ff;
  border: 1px solid #38a4ff;
  background: #fff;
}

.genric-btn.info-border:hover {
  color: #fff;
  background: #38a4ff;
  border: 1px solid transparent;
}

.genric-btn.warning {
  color: #fff;
  background: #f4e700;
  border: 1px solid transparent;
}

.genric-btn.warning:hover {
  color: #f4e700;
  border: 1px solid #f4e700;
  background: #fff;
}

.genric-btn.warning-border {
  color: #f4e700;
  border: 1px solid #f4e700;
  background: #fff;
}

.genric-btn.warning-border:hover {
  color: #fff;
  background: #f4e700;
  border: 1px solid transparent;
}

.genric-btn.danger {
  color: #fff;
  background: #f44a40;
  border: 1px solid transparent;
}

.genric-btn.danger:hover {
  color: #f44a40;
  border: 1px solid #f44a40;
  background: #fff;
}

.genric-btn.danger-border {
  color: #f44a40;
  border: 1px solid #f44a40;
  background: #fff;
}

.genric-btn.danger-border:hover {
  color: #fff;
  background: #f44a40;
  border: 1px solid transparent;
}

.genric-btn.link {
  color: #415094;
  background: #f9f9ff;
  text-decoration: underline;
  border: 1px solid transparent;
}

.genric-btn.link:hover {
  color: #415094;
  border: 1px solid #f9f9ff;
  background: #fff;
}

.genric-btn.link-border {
  color: #415094;
  border: 1px solid #f9f9ff;
  background: #fff;
  text-decoration: underline;
}

.genric-btn.link-border:hover {
  color: #415094;
  background: #f9f9ff;
  border: 1px solid transparent;
}

.genric-btn.disable {
  color: #222222, 0.3;
  background: #f9f9ff;
  border: 1px solid transparent;
  cursor: not-allowed;
}

.generic-blockquote {
  padding: 30px 50px 30px 30px;
  background: #f9f9ff;
  border-left: 2px solid #ff0000;
}

.progress-table-wrap {
  overflow-x: scroll;
}

.progress-table {
  background: #f9f9ff;
  padding: 15px 0px 30px 0px;
  min-width: 800px;
}

.progress-table .serial {
  width: 11.83%;
  padding-left: 30px;
}

.progress-table .country {
  width: 28.07%;
}

.progress-table .visit {
  width: 19.74%;
}

.progress-table .percentage {
  width: 40.36%;
  padding-right: 50px;
}

.progress-table .table-head {
  display: flex;
}

.progress-table .table-head .serial,
.progress-table .table-head .country,
.progress-table .table-head .visit,
.progress-table .table-head .percentage {
  color: #415094;
  line-height: 40px;
  text-transform: uppercase;
  font-weight: 500;
}

.progress-table .table-row {
  padding: 15px 0;
  border-top: 1px solid #edf3fd;
  display: flex;
}

.progress-table .table-row .serial,
.progress-table .table-row .country,
.progress-table .table-row .visit,
.progress-table .table-row .percentage {
  display: flex;
  align-items: center;
}

.progress-table .table-row .country img {
  margin-right: 15px;
}

.progress-table .table-row .percentage .progress {
  width: 80%;
  border-radius: 0px;
  background: transparent;
}

.progress-table .table-row .percentage .progress .progress-bar {
  height: 5px;
  line-height: 5px;
}

.progress-table .table-row .percentage .progress .progress-bar.color-1 {
  background-color: #6382e6;
}

.progress-table .table-row .percentage .progress .progress-bar.color-2 {
  background-color: #e66686;
}

.progress-table .table-row .percentage .progress .progress-bar.color-3 {
  background-color: #f09359;
}

.progress-table .table-row .percentage .progress .progress-bar.color-4 {
  background-color: #73fbaf;
}

.progress-table .table-row .percentage .progress .progress-bar.color-5 {
  background-color: #73fbaf;
}

.progress-table .table-row .percentage .progress .progress-bar.color-6 {
  background-color: #6382e6;
}

.progress-table .table-row .percentage .progress .progress-bar.color-7 {
  background-color: #a367e7;
}

.progress-table .table-row .percentage .progress .progress-bar.color-8 {
  background-color: #e66686;
}

.single-gallery-image {
  margin-top: 30px;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background-size: cover !important;
  height: 200px;
}

.list-style {
  width: 14px;
  height: 14px;
}

.unordered-list li {
  position: relative;
  padding-left: 30px;
  line-height: 1.82em !important;
}

.unordered-list li:before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  border: 3px solid #ff0000;
  background: #fff;
  top: 4px;
  left: 0;
  border-radius: 50%;
}

.ordered-list {
  margin-left: 30px;
}

.ordered-list li {
  list-style-type: decimal-leading-zero;
  color: #ff0000;
  font-weight: 500;
  line-height: 1.82em !important;
}

.ordered-list li span {
  font-weight: 300;
  color: #828bb2;
}

.ordered-list-alpha li {
  margin-left: 30px;
  list-style-type: lower-alpha;
  color: #ff0000;
  font-weight: 500;
  line-height: 1.82em !important;
}

.ordered-list-alpha li span {
  font-weight: 300;
  color: #828bb2;
}

.ordered-list-roman li {
  margin-left: 30px;
  list-style-type: lower-roman;
  color: #ff0000;
  font-weight: 500;
  line-height: 1.82em !important;
}

.ordered-list-roman li span {
  font-weight: 300;
  color: #828bb2;
}

.single-input {
  display: block;
  width: 100%;
  line-height: 40px;
  border: none;
  outline: none;
  background: #f9f9ff;
  padding: 0 20px;
}

.single-input:focus {
  outline: none;
}

.input-group-icon {
  position: relative;
}

.input-group-icon .icon {
  position: absolute;
  left: 20px;
  top: 0;
  line-height: 40px;
  z-index: 3;
}

.input-group-icon .icon i {
  color: #797979;
}

.input-group-icon .single-input {
  padding-left: 45px;
}

.single-textarea {
  display: block;
  width: 100%;
  line-height: 40px;
  border: none;
  outline: none;
  background: #f9f9ff;
  padding: 0 20px;
  height: 100px;
  resize: none;
}

.single-textarea:focus {
  outline: none;
}

.single-input-primary {
  display: block;
  width: 100%;
  line-height: 40px;
  border: 1px solid transparent;
  outline: none;
  background: #f9f9ff;
  padding: 0 20px;
}

.single-input-primary:focus {
  outline: none;
  border: 1px solid #ff0000;
}

.single-input-accent {
  display: block;
  width: 100%;
  line-height: 40px;
  border: 1px solid transparent;
  outline: none;
  background: #f9f9ff;
  padding: 0 20px;
}

.single-input-accent:focus {
  outline: none;
  border: 1px solid #eb6b55;
}

.single-input-secondary {
  display: block;
  width: 100%;
  line-height: 40px;
  border: 1px solid transparent;
  outline: none;
  background: #f9f9ff;
  padding: 0 20px;
}

.single-input-secondary:focus {
  outline: none;
  border: 1px solid #f09359;
}

.default-switch {
  width: 35px;
  height: 17px;
  border-radius: 8.5px;
  background: #f9f9ff;
  position: relative;
  cursor: pointer;
}

.default-switch input {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.default-switch input + label {
  position: absolute;
  top: 1px;
  left: 1px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #ff0000;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.default-switch input:checked + label {
  left: 19px;
}

.primary-switch {
  width: 35px;
  height: 17px;
  border-radius: 8.5px;
  background: #f9f9ff;
  position: relative;
  cursor: pointer;
}

.primary-switch input {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.primary-switch input + label {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.primary-switch input + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  border-radius: 8.5px;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.primary-switch input + label:after {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #fff;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.primary-switch input:checked + label:after {
  left: 19px;
}

.primary-switch input:checked + label:before {
  background: #ff0000;
}

/* banner part css start */
.banner_part {
  position: relative;
  background-image: url(../img/banner_bg.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

.banner_part .banner_text {
  display: table;
  width: 100%;
  height: 1020px;
}

.banner_part .banner_text .banner_text_iner {
  display: table-cell;
  vertical-align: middle;
}

@media (max-width: 991px) {
  .banner_part .banner_text {
    height: 650px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .banner_part .banner_text {
    height: 650px;
  }
}

.banner_part .banner_text h1 {
  font-size: 60px;
  text-transform: capitalize;
  font-weight: 700;
  margin-bottom: 32px;
  line-height: 70px;
  color: #fff;
}

@media (max-width: 576px) {
  .banner_part .banner_text h1 {
    font-size: 25px;
    margin-bottom: 15px;
    line-height: 1.3;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .banner_part .banner_text h1 {
    font-size: 30px;
    margin-bottom: 15px;
    line-height: 1.3;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .banner_part .banner_text h1 {
    font-size: 40px;
    margin-bottom: 15px;
    line-height: 1.3;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .banner_part .banner_text h1 {
    font-size: 40px;
    margin-bottom: 15px;
    line-height: 1.4;
  }
}

.banner_part .banner_text h1 span {
  color: #ff0000;
}

.banner_part .banner_text p {
  font-size: 15px;
  line-height: 1.8;
  font-family: "Poppins", sans-serif;
  color: #fff;
  margin-bottom: 45px;
  padding-right: 140px;
}

@media (max-width: 991px) {
  .banner_part .banner_text p {
    padding-right: 0;
    margin-bottom: 10px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .banner_part .banner_text p {
    padding-right: 0;
  }
}

@media (max-width: 991px) {
  .banner_part .banner_text .btn_1 {
    margin-top: 30px;
  }
}
